<template>
  <div>
    <h3 class="text-center">购物车信息</h3>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <td class="col-sm-2">id</td>
          <td class="col-sm-2">名称</td>
          <td class="col-sm-2">价格</td>
          <td class="col-sm-2">数量</td>
          <td class="col-sm-2">总价</td>
          <td class="col-sm-2">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in newlist" :key="index">
          <td class="col-sm-2">{{index+1}}</td>
          <td class="col-sm-2">{{item.name}}</td>
          <td class="col-sm-2">{{item.money}}</td>
          <td class="col-sm-2">{{item.num}}</td>
          <td class="col-sm-2">{{item.num*item.money}}</td>
          <td class="col-sm-2">
            <button type="button" class="btn btn-info" @click="addmoney(item)">+</button>
            <button type="button" class="btn btn-warning" @click="clebtn(item)">-</button>
            <button type="button" class="btn btn-danger" @click="cleitm(item.id)">x</button>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="allnum">总数{{allnum}}</span>
    <span class="allnum">总价{{allmoney}}</span>
    <button @click="allclebtn" type="button" class="btn btn-danger allcle">清空购物车</button>
  </div>
</template>

<script>  
import { watch } from '@vue/runtime-core';
import { mapState , mapMutations} from 'vuex';
export default {
  methods:{
    // addmoney(item){
    //   this.$store.commit('addmoney',item)
    // },
    // clebtn(item){
    //   this.$store.commit('clebtn',item)
    // },
    // allclebtn(){
    //   this.$store.commit('allclebtn')
    // },
    // cleitm(index){
    //   this.$store.commit('cleitm',index)
    // }
    ...mapMutations(['addmoney','clebtn','allclebtn','cleitm'])
  },
  computed:{
    ...mapState(['list','newlist','allnum','allmoney']),
    allnum(){
      return this.newlist.reduce((a,b)=>{
        return a+b.num
      },0)
    },
    allmoney(){
      return this.newlist.reduce((a,b)=>{
        return a+b.num*b.money
      },0)
    }
  },
}
</script>
<style>
.allcle{
  float:right;
}
.allnum{
  padding: 0 10px;
}
</style>