<template>
  <div class="shopbox">
    <h2 class="text-center">Vuex购物车demo</h2>
    <div class="text-center">商品信息</div>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <td class="col-sm-2">id</td>
          <td class="col-sm-3">名称</td>
          <td class="col-sm-2">价格</td>
          <td class="col-sm-2">数量</td>
          <td class="col-sm-3">Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in list" :key="index">
          <td class="col-sm-2">{{index+1}}</td>
          <td class="col-sm-3">{{item.name}}</td>
          <td class="col-sm-2">{{item.money}}</td>
          <td class="col-sm-2">{{item.num}}</td>
          <td class="col-sm-3" v-show="!item.num">
            <button @click="btnadd(item)" type="button" class="btn btn-primary">加入购物车</button>
          </td>
          <td class="col-sm-3" v-show="item.num">
            <button type="button" class="btn btn-info" @click="addbtn(item)">+</button>
            <button type="button" class="btn btn-warning" @click="clebtn(item)">-</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { mapState } from 'vuex';
  export default {
    methods:{
      addbtn(item){
        // console.log(item.num)
        this.$store.dispatch('addbtn',item)
        this.$store.commit('addmoney',item)
      },
      clebtn(item){
        this.$store.commit('clebtn',item)
      },
      btnadd(item){
        this.$store.dispatch('addbtn',item)
        this.$store.commit('addmoney',item)
      }
    },
    computed:{
      ...mapState(['list','newlist','k'])
    }
  }
</script>
<style>
.shopbox{
  width: 100%;
}
.btn{
  display: inline-block;
  margin: 0 5px;
}
</style>