<template>
  <div id="nav">
    <Shopbox/>
    <Gwcbox/>
  </div>
</template>
<script>
import Shopbox from './views/Shopbox.vue'
import Gwcbox from './views/Gwcbox.vue'
  export default {
    components:{Shopbox,Gwcbox}
  }
</script>
<style lang="scss">

</style>
