<template>
  <div class="box">
    <div class="left">
      <img :src="item.image" alt="">
    </div>
    <div class="text">
      <p class="name">{{item.name}}</p>
      <p class="price">{{item.price}}</p>
      <slot v-bind="item"></slot>
    </div>
    
</div>
  
</template>

<script>
export default {
  props:['item']
};
</script>

<style lang="scss" scoped>
*{
  margin: 0;
  padding: 0;
}

.box{
    font-size: 12px;
    display: flex;
    margin-left: 25px;
    margin-right: 23px;
    // margin-bottom: 26px;
    position: relative;
    .left{
      img{
        width: 68px;
        height:68px;
        border-radius: 20px;
        margin-right: 24px;
      }
    }
    .text{
      flex: 1;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      border-radius: 20px;
      
      .name{
        font-size: 12px;
        font-weight: 700;
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .price{
        font-size: 16px;
        font-weight: 700;
      }
    }
}
</style>
