<template>
  <div class="cart">
    <div class="cart-item" v-for="item in list.items" :key="item.id">
      <span class="checkbox" :class="item.checked?'checked':''" @click="yesorno(item.productId._id,getdata)"></span>
      <Box :item="item.productId" class="boxx" >
        <div class="count">
          <span class="jian" @click="numitem('-',item.productId._id)">-</span>
          <span>{{item.quantity}}</span>
          <span class="jia" @click="numitem('+',item.productId._id)">+</span>
        </div>
      </Box>
    </div>
    <div class="btmbox">
      <div class="warpbox">
        <span class="allitemnum">共计：{{allnum}}件</span>
        <span class="allitemmoney">合计:  <span class="bigallmoney">{{list.subTotal}}</span>元</span>
      </div>
      <button class="yesbtn">支付</button>
    </div>
    <Loading v-if="loading"/>

  </div>
</template>

<script>
import Box from '@/view/Box.vue'
// import Loading from './../view/Loading.vue'
import axios from 'axios'
export default {
    components:{Box},
    data() {
      return {
        list:{
          items:[]
        },
        loading:false,
      }
    },
    methods:{
      getdata(){
        this.loading=true;
        axios.get('https://dahua0822-api.herokuapp.com/cart').then(res=>{
          if(res.status==200&&res.data.success){
            this.list=res.data.data
            this.loading=false;
          }else{
            alert('出错了')
          }
        })
      },
      yesorno(id,callback){
        this.loading=true;
        axios.post("https://dahua0822-api.herokuapp.com/cart/select", {
          productId: id,
        })
        .then((res) => {
          if (res.status === 200 && res.data.success) {
            callback();
            // this.loading=false;
          } else {
            alert("出错了");
          }
        });
      },
      numitem(ion,id){
        this.loading=true;
        axios.post('https://dahua0822-api.herokuapp.com/cart',{
          productId: id,
          quantity:ion=='+'?1:-1
        }).then(res=>{
          this.getdata()
        })
      }
    },
    created(){
      this.getdata()
    },
    computed:{
      allnum(){
        let total=0
        // this.list.items.map(item=>{
        //   if (item.checked) {
        //     total += item.quantity;
        //   }
        // })
        // return total
        this.list.items.map(item=>{
          if(item.checked){
            total+=item.quantity;
          }
        })
        return total
      }
    }
}
</script>

<style lang="scss" scoped>
.cart{
  padding-top: 28px;
  background: rgba(247, 247, 250, 1);
  .cart-item{
    padding: 0 0 0 18px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .boxx{
      background: red;
    }
    .checkbox{
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid rgba(143, 143, 143, 1);
    }
    .checked{
      background-color: rgba(255, 223, 117, 1);
      border: none;
    }
    :deep .box{
      background: #fff;
      border-radius: 20px;
    }
    .count{
      position: absolute;
      right: 18px;
      top: 65px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      span{
        margin: 0 5px;
      }
      .jian,.jia{
        width: 16px;
        height: 16px;
        background: rgba(255, 223, 117, 1);
        text-align: center;
        line-height: 14px;
      }
    }
  }
  :deep .left img{
    width: 84px;
    height: 84px;
    margin: 7px 0;
    margin-right: 15px;
  }
  .btmbox{
    position: fixed;
    width: 100%;
    height: 137px;
    background: #fff;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    .warpbox{
      display: flex;
      margin: 20px 20px 0 20px;
      position: relative;
      .allitemnum{
        font-size: 12px;
        font-weight: 700;
      }
      .allitemmoney{
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        right: 0;
        .bigallmoney{
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    .yesbtn{
      width: 335px;
      height: 58px;
      font-size: 16px;
      border-radius: 20px;
      background: rgba(255, 223, 117, 1);
      position: absolute;
      left: 20px;
      top:60px
    }
  }
}
</style>