<template>
  <div id="home">
    <Box v-slot="_item" v-for="item in list" :key="item.id" :item="item" class="boxhome"> 
      <div class="gwc" @click="addgwc(_item._id)">
        <img src="../../public/gwc.png" alt="">
      </div>
    </Box>
  </div>
</template>

<script scoped>
import axios from 'axios';
import Box from '../view/Box.vue'
export default {
  components:{Box},
  data() {
    return {
      list:[]
    }
  },
  methods:{
    getdata(){
      axios.get('https://dahua0822-api.herokuapp.com/goods').then(res=>{
        console.log(res,'成功')
        this.list=res.data.data
      }).catch(err=>{
        console.log(err,'失败')
      })
    },
    addgwc(id){
      axios({
        url:"https://dahua0822-api.herokuapp.com/cart",
        methods:'post',
        data:{
          productId: id,
          quantity: 1,
        }
      })
    }
  },
  created(){
    this.getdata()
  }
};
</script>

<style lang="scss">
.boxhome{
  margin-bottom: 26px;
}
#home{
  padding-top: 31px;
  background-color: rgba(247, 247, 250, 1);
}
.gwc{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(255, 230, 148, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  img{
    width: 18px;
    height: 18px;
    margin: 0 auto;
  }
}
</style>
