<template>
  <div class="bigbox">
    <!-- Home -->
    <h4>火爆商品</h4>
    <div class="topshop">
      <div class="topintrobox" v-for="(item,index) in list.top" :key="index">
        <img :src="item.image" alt="">
        <div class="topintro">
          <p class="introname">{{item.name}}</p>
          <p class="intromoney">￥{{item.price}}</p>
        </div>
      </div>
    </div>
    <div class="option">
      <div class="itemall" :class="done=='all'?'all':''" @click="btnall('all')">全部</div>
      <div :class="done=='style'?'all':''" @click="btnall('style')">款式新</div>
      <div :class="done=='sell'?'all':''" @click="btnall('sell')">销量高</div>
      <div :class="done=='rate'?'all':''" @click="btnall('rate')">好评价</div>
    </div>
    <div class="item" v-for="(item,index) in list.data" :key="index">
      <div class="itemimg">
        <img :src="item.image" alt="">
      </div>
      <div class="itemintro">
        <p class="itemname">{{item.name}}</p>
        <p class="itemmoney">￥{{item.price}}</p>
      </div>
      <div class="gwc">
        <img src="../../public/gwc.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
export default {
  data() {
    return {
      list:[],
      done:'all'
    }
  },
  methods:{
    getdata(){
      console.log(1111)
      axios({
        url:'https://dahua0822-api.herokuapp.com/goods',
        methods:'get'
      }).then(res=>{
        this.list=res.data.data
      }).catch(err=>{
        console.log(err)
      })
    },
    btnall(data){
      axios.get('https://dahua0822-api.herokuapp.com/goods',{
        params:{sort:data}
      }).then((res)=>{
        this.list=res.data.data
        this.done=data
      })
    }
  },
  created(){
    this.getdata()
  }
}
</script>

<style lang="scss" scoped>
*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.bigbox{
  background: rgba(247, 247, 250, 1);
  h4{
    padding: 28px 0 13px 24px;
    font-size: 14px;
    font-weight: 700;
  }
  .topshop{
    width: 100%;
    display: flex;
    // justify-content: space-around;
    overflow-x: scroll;
    .topintrobox{
      width: 168px;
      height: 222px;
      margin: 0 10px;
      background: #fff;
      border-radius: 28px;
      // overflow: hidden;
    }
    img{
      width: 168px;
      height: 146px;
      border-radius: 28px 28px 0 0;
    }
    .topintro{
      padding: 0 0 0 18px;
      background: #fff;
      width: 100%;
      height: 76px;
      border-radius: 0 0 28px 28px;
    }
    .introname{
      font-size: 12px;
      font-weight: 700;
      padding: 8px 8px 12px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .intromoney{
      font-size: 16px;
      font-weight: 700;
    }
  }
  .option{
    height: 44px;
    margin: 32px 13px 20px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 44px;
    .itemall{
      width: 44px;
      height: 44px;
      border-radius: 14px;
    }
    .all{
      background: rgba(255, 223, 117, 1);
    }
    div{
      width: 99px;
      height: 44px;
      border-radius: 14px;
      background: #fff;
    }
  }
  .item{
    padding: 0 24px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .itemimg{
      width: 68px;
      height: 68px;
      img{
        width: 68px;
        height: 68px;
        border-radius: 20px;
      }
    }
    .itemintro{
      flex: 1;
      margin-left: 24px;
      height: 68px;
      .itemname{
        font-size: 12px;
        font-weight: 700;
        margin: 4px 0 16px 0;
      }
      .itemmoney{
        font-size: 16px;
        font-weight: 700;
      }
    }
    .gwc{
      width: 48px;
      height: 48px;
      background: rgba(255, 230, 148, 1);
      border-radius: 50%;
      position: relative;
      img{
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}
</style>